.coffee__head {
    .head__headline {
        font-variant: small-caps;
    }
}
.coffee__items {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .coffee__item {
        display: flex;
        margin: 3rem;
        .item__name {
            font-variant: small-caps;
        }
        .item__picture {

            @media screen (min-width: 400px) {
                min-width: 300px; 
            }
            @media screen (max-width: 399px){
                
            }
            
        }
        .item__description {
            max-width: 30vw;
        }
    }
}