$font-family: 'Rajdhani', sans-serif;

.menu {
    .menu__main {
        display: flex;
        flex-direction: column;
        .main__title {
            font-family: $font-family;
            font-variant: small-caps;
        }
        .main__selection {

            .selection__title {
                
            }

        }
    }
}





